 /* Estilos para version celular */
@media only screen and (max-width: 1080px) {
  .container {
    display: block !important;
    width: 100% !important;
    font-size: 2.0rem;
      padding: 20px;
    border: 0px solid white;
    background-color: #FFFFFF;
    border-radius: 2%;
  }
  .btn {
    font-size: 2.5rem;
  }
  .form-control,
  .form-select,
  .modal-title,
  .modal-body {
    font-size: 2.3rem;
  }
    #LogoValor {
    width: 100%;
    height: auto;
  }
  .modal-content {
    padding: 30px;
  }

#title_menu {
  font-size: 2rem;
	  margin: auto;
    text-align: center;
}  
#navbar-toggler {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  }
#siniestrosDropdown,
#emisionDropdown,
#cobranzasDropdown,
#dropdown-item {
  font-size: 3rem;
  text-align: right;
}
#magi-item {
  font-size: 1.8rem;
	  margin: auto;
    text-align: center;
}
  .navbar-nav .dropdown-menu {
    position: static;
    display: none;
    overflow: visible;
    float: none;
    padding: 0;
  }
  .navbar-nav .dropdown-menu > li {
    margin-bottom: .5rem;
  }
  .navbar-nav .dropdown-menu > li > a {
    margin-right: 0;
    margin-bottom: .5rem;
  }
    #videoElement {
      width: 100%;
      max-width: 450px;
      border-radius: 15px;
      margin: 0px;
    }
    .image-container {
      display: flex;
      flex-wrap: wrap;
    }
    .image-container img {
      max-width: 200px;
      border-radius: 10px;
      margin: 5px;
    }  
    .uppat {
      padding-top: 20px;
    font-size: 2.0rem;
      padding-top:10px;
    height: 60px;
    width: 185px;
  }
  .input_tx {
    font-size: 1.2rem;

  }
  .est_not::before {
    content: "+ Nota";
  }

    .cnia_border {
  font-size: 1.9rem;
  font-weight: 800;
  padding: 2px; 
  text-align: center; 
  margin-left: 5px; 
  border-radius:5px; 
  margin-right: 1px;
  color: white; 
  width: 245px;
  height: 44px; 
  border: 1px solid black;
  box-shadow: 0px 0px 2px 0px #000000;
  }
  .modulo {
  font-size: 1.9rem;
  font-weight: 700;
  margin-left: 5px; 
  height: 25px; 
  margin-right: 1px;
  }
  .modulo-sm {
  font-size: 1.1rem;
  font-weight: 750;
  margin-left: 5px; 
  height: 25px; 
  margin-right: 1px;
  }
  .modulo-sm-pat {
  font-size: 1.2rem;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: 800;
  margin-left: 1px; 
  height: 25px; 
  margin-right: 1px;
  }
}



     /* Estilos para version pc */
@media (min-width: 1081px) {
  .container {
      display: inline-block !important;
      border: 0px solid white;
      background-color: #FFFFFF;
      border-radius: 2%;
      padding: 20px;
      width: 600px;
  }
        body {
      background-color: #8673A1;
    }
  .btn {
    font-size: 0.9rem;
  }
  .form-control {
    font-size: 1rem;
  }
  .modal-title {
    font-size: 1.53rem;
	  margin: auto;
    text-align: center;
  }
  .modal-content {
    padding: 10px;
  }
  .upname {
    font-size: 1.3rem;
  }
  .upname2 {
    font-size: 1rem;
  }
  .uppat {
    width: 123px; 
    height: 40px;
  }
  #magi-item {
  font-size: 1rem;
	margin: auto;
  text-align: center;
}  

.input_tx {
    font-size: 0.9rem;

  }

  .cnia_border {
  font-size: 1rem;
  font-weight: 750;
  padding: 2px; 
  text-align: center; 
  margin-left: 5px; 
  border-radius:5px; 
  height: 30px; 
  margin-right: 1px;
  color: white; 
  width:140px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px 0px #000000;
  }

  .modulo {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px; 
  }

  .modulo-sm {
  font-size: 0.8rem;
  font-weight: 700;
  margin-left: 0px;
  margin-right: 0px; 
  padding-top: 5px;
  }
  .est_not::before {
    content: "Nuevo Estado";
  }
    .modulo-sm-pat {
  font-size: 1.2rem;
  align: center;
  font-weight: 700;
  margin-left: 1px; 
  padding: 0px;
  margin-right: 1px;
  }

}

              /* Estilos para la sesion de usuarios */

    .container25 {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100vh;
    }

    .border25 {
      height: 251px;
      width: 355px;
      border: 2px solid black;
      padding: 5px;
      margin-right: 15px;
      margin-bottom: 40px;
    }



    .minicontainer {
    border: 0px solid white;
    background-color: #FFFFFF;
    border-radius: 2%;
    padding: 20px;
    width: 400px;
  }



      /* Estilos para el fondo oscurecido */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }

    #modal2 {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }


    /* Estilos para la barra de navegaci�n */
      .navbar-brand {
        font-weight: bold;
        font-size: 24px;
      }
      .navbar-nav .nav-link {
        color: #333;
      }
      .navbar-nav .nav-link:hover,
      .navbar-nav .nav-link:focus {
        color: #007bff;
      }
      .dropdown-menu {
        border: none;
      }
      .dropdown-item:hover,
      .dropdown-item:focus {
        background-color: #f8f9fa;
        color: #333;
      }
      .nav-item.dropdown:hover .dropdown-menu {
        display: block;
      }
      /* Estilos para el contenedor de p�ginas */
      #page-container {
        margin-top: 20px;
      }