body{
  background-color: #CB3234;
}

/* INICIO NUEVO MENU DE NAVEGACION */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}
body{
min-height: 100vh;
}
nav {
position: relative; /* Cambiar a relative o quitar para flujo normal */
top: 0;
left: 0;
width: 100vw; /* Ancho al 100% del viewport width (vw) */
height: 4.3rem;
background: #f8f9fa;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
/* z-index: 99; */ /* Puedes quitar esto si no necesitas control de superposición */
}
nav .navbar{
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;
margin: auto;
/* background: red; */
margin: 0px;
padding: 0px 25px;
}
.navbar .logo a{
font-size: 28px;
color: #000;
text-decoration: none;
font-weight: 700;
line-height: 1;
}
nav .navbar .nav-links{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
margin: auto;
padding: 0px;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0rem;
}
nav .navbar .links{
display: flex;
}
nav .navbar .links li{
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
list-style: none;
padding: 0 14px;
}
nav .navbar .links li a{
/* height: 100%; */
text-decoration: none;
white-space: nowrap;
color: #000;
font-size: 15px;
font-weight: 500;
}
.links li:hover .htmlcss-arrow-giro,
.links li:hover .emision-arrow-giro,
.links li:hover .js-arrow-giro,
.links li:hover .user-name-arrow-giro{
transform: rotate(180deg);
}

nav .navbar .links li .arrow{
/* background: red; */
/* height: 60%; */
line-height: 10px;
text-align: center;
display: inline-block;
color: #000;
transition: all 0.3s ease;
}

nav .navbar .links li .sub-menu{
position: absolute;
top: 45px;
left: 0;
line-height: 40px;
background: #f8f9fa;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
border-radius: 0 0 4px 4px;
display: none;
z-index: 2;
margin: 0px;
padding: 0px;
}

nav .navbar .links li .user-name-sub-menu{
top: 22px;
}


.profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 25px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}

nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .emision-sub-menu,
nav .navbar .links li:hover .js-sub-menu,
nav .navbar .links li:hover .user-name-sub-menu{
display: block;
}
.navbar .links li .sub-menu li{
padding: 0 22px;
border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
color: #000;
font-size: 15px;
font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
line-height: 40px;
}
.navbar .links li .sub-menu .cobranzasSub2-arrow{
line-height: 40px;
}
.navbar .links li .sub-menu .cobranzasSub3-arrow{
line-height: 40px;
}
.navbar .links li .sub-menu .emisionSub1-arrow{
line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
/* line-height: 40px; */
}

.navbar .links li .htmlCss-cobranzasSub2-sub-menu{
/* line-height: 40px; */
}

.navbar .links li .htmlCss-cobranzasSub3-sub-menu{
/* line-height: 40px; */
}

.navbar .links li .emision-emisionSub1-sub-menu{
/* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu{
position: absolute;
top: 0;
left: 100%;
border-radius: 0 4px 4px 4px;
z-index: 1;
display: none;
}
.navbar .links li .sub-menu .cobranzasSub2-sub-menu{
position: absolute;
top: 0;
left: 100%;
border-radius: 0 4px 4px 4px;
z-index: 1;
display: none;
}
.navbar .links li .sub-menu .cobranzasSub3-sub-menu{
position: absolute;
top: 0;
left: 100%;
border-radius: 0 4px 4px 4px;
z-index: 1;
display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
display: block;
}
.links li .sub-menu .cobranzasSub2:hover .cobranzasSub2-sub-menu{
display: block;
}

.links li .sub-menu .cobranzasSub3:hover .cobranzasSub3-sub-menu{
display: block;
}


.navbar .links li .sub-menu .emisionSub1-sub-menu{
position: absolute;
top: 0;
left: 100%;
border-radius: 0 4px 4px 4px;
z-index: 1;
display: none;
}
.links li .sub-menu .emisionSub1:hover .emisionSub1-sub-menu{
display: block;
}
.navbar .search-box{
position: relative;
 height: 40px;
width: 40px;
}
.navbar .search-box i{
position: absolute;
height: 100%;
width: 100%;
line-height: 40px;
text-align: center;
font-size: 22px;
color: #000;
font-weight: 600;
cursor: pointer;
transition: all 0.3s ease;
}
.navbar .search-box .input-box{
position: absolute;
right: calc(100% - 40px);
top: 80px;
height: 60px;
width: 300px;
background: #f8f9fa;
border-radius: 6px;
opacity: 0;
pointer-events: none;
transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
top: 65px;
opacity: 1;
pointer-events: auto;
background: #f8f9fa;
}
.navbar .nav-links .sidebar-logo{
display: none;
}
.navbar .bx-menu{
display: none;
}


/* MODO CELULAR */
@media only screen and (max-width: 1200px) {
.logo_icon {
width: auto!important
}
.dropdown-divider {
margin-bottom: 35px;
}
.profile-details {
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 40px;
  height: 100px;
  min-width: 250px;
  padding: 0 2px 0 2px;
}
#user {

  padding: 24px 2px 0 2px;
}

nav .navbar .logo a{
  font-size: 3rem;
}
nav {
position: relative; /* Cambiar a relative o quitar para flujo normal */
top: 0;
left: 0;
width: 100vw; /* Ancho al 100% del viewport width (vw) */
height: 5rem;
background: #f8f9fa;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
nav .navbar .links li a{
line-height: 0px!important;
height: 100%;
text-decoration: none;
white-space: nowrap;
color: #000;
font-size: 3rem;
font-weight: 700;
padding: 1rem 0 1rem 0; 

}
nav .navbar .links li {
  padding: 16px 14px!important;
}
nav .navbar .links li li {
  font-size: 2.5rem;
  padding: 0rem 0 2rem 0;
}
nav .navbar .links li .arrow {
  font-size: 2.5rem;
  padding: 0rem 0 2rem 0;
}
nav .navbar .links li .sub-menu a {
  color: #000;
font-size: 3rem;
  font-weight: 700;
  padding: 0rem 0 1rem 0;
}
nav .navbar .links li .sub-menu li {
  padding: 0rem 0 0rem  2rem;
}
.navbar .bx-menu{
  display: block;
}
nav .navbar .nav-links{
  position: fixed;
  top: 0;
  left: -100%;
  display: block;
  max-width: 75%;
  width: 100%;
  background:  #f8f9fa;
  line-height: 40px;
  font-size: 1.5rem;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  z-index: 1000;
}
.navbar .nav-links .sidebar-logo{
  display: flex;
  align-items: left;
  font-size: 3rem;
  font-weight: 800;
  justify-content: space-between;
}
.sidebar-logo .logo-name{
  /* font-size: 25px; */
  font-size: 2.7rem;
  color: #000;
}
  .sidebar-logo  i,
  .navbar .bx-menu{
  /* font-size: 25px; */
  line-height: 1!important;
  font-size: 5rem;
    color: #000;
  }
nav .navbar .links{
  display: block;
  font-size: 2.5rem;
  margin-top: 20px;
}
nav .navbar .links li .arrow{
  line-height: 40px;
  font-size: 2.5rem;
}
nav .navbar .links li{
  display: block;
}
nav .navbar .links li .sub-menu{
position: relative;
top: 0;
box-shadow: none;
display: none;
}
nav .navbar .links li .sub-menu li{
border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
display: none;
position: relative;
left: 0;
}
.navbar .links li .sub-menu .cobranzasSub2-sub-menu{
display: none;
position: relative;
left: 0;
}
.navbar .links li .sub-menu .cobranzasSub3-sub-menu{
display: none;
position: relative;
left: 0;
}
.navbar .links li .sub-menu .emisionSub1-sub-menu{
display: none;
position: relative;
left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .links li .sub-menu .cobranzasSub2-sub-menu li{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .links li .sub-menu .cobranzasSub3-sub-menu li{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .links li .sub-menu .emisionSub1-sub-menu li{
display: flex;
align-items: center;
justify-content: space-between;
}
.links li:hover .htmlcss-arrow-giro,
.links li:hover .emision-arrow-giro,
.links li:hover .js-arrow-giro,
.links li:hover .user-name-arrow-giro{
transform: rotate(0deg);
}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
}
.navbar .links li .sub-menu .cobranzasSub2-sub-menu{
  display: none;
}
.navbar .links li .sub-menu .cobranzasSub3-sub-menu{
  display: none;
}
.navbar .links li .sub-menu .emisionSub1-sub-menu{
  display: none;
}
.navbar .links li .sub-menu .more span{
  /* background: red; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.navbar .links li .sub-menu .cobranzasSub2 span{
  /* background: red; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.navbar .links li .sub-menu .cobranzasSub3 span{
  /* background: red; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.navbar .links li .sub-menu .emisionSub1 span{
  /* background: red; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}


.links li .sub-menu .more:hover .more-sub-menu{
  display: none;
}
.links li .sub-menu .cobranzasSub2:hover .cobranzasSub2-sub-menu{
  display: none;
}
.links li .sub-menu .cobranzasSub3:hover .cobranzasSub3-sub-menu{
  display: none;
}
.links li .sub-menu .emisionSub1:hover .emisionSub1-sub-menu{
  display: none;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .emision-sub-menu,
nav .navbar .links li:hover .js-sub-menu,
nav .navbar .links li:hover .user-name-sub-menu{
  display: none;
}
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
.navbar .nav-links.show4 .links .emision-sub-menu,
.navbar .nav-links.show5 .links .emisionSub1 .emisionSub1-sub-menu,
.navbar .nav-links.show3 .links .js-sub-menu,
.navbar .nav-links.show8 .links .user-name-sub-menu,
.navbar .nav-links.show2 .links .more .more-sub-menu,
.navbar .nav-links.show6 .links .cobranzasSub2 .cobranzasSub2-sub-menu,
.navbar .nav-links.show7 .links .cobranzasSub3 .cobranzasSub3-sub-menu{
    font-size: 2rem;
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow-giro,
  .navbar .nav-links.show4 .links .emision-arrow-giro,
  .navbar .nav-links.show5 .links .emisionSub1-arrow-giro,
  .navbar .nav-links.show3 .links .js-arrow-giro,
  .navbar .nav-links.show8 .links .user-name-arrow-giro{
      transform: rotate(180deg);
}
  .navbar .nav-links.show2 .links .more-arrow-giro{
    transform: rotate(90deg);
  }
  .navbar .nav-links.show6 .links .cobranzasSub2-arrow-giro{
    transform: rotate(90deg);
  }
  .navbar .nav-links.show7 .links .cobranzasSub3-arrow-giro{
    transform: rotate(90deg);
  }
  .navbar .nav-links.show5 .links .emisionSub1-arrow-giro{
    transform: rotate(90deg);
  }
  
}

/* FIN DEL NUEVO MENU DE NAVEGACION */
/* Estilos para version celular */
@media only screen and (max-width: 1080px) {
.container {
  display: block !important;
  width: 100% !important;
  font-size: 2.5rem;
  border: 0px solid white;
  background-color: #FFFFFF;
  border-radius: 2%;
  padding: 20px;
}
.titulos {
  font-size: 3rem;
  margin: auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 6px;
}
.btn {
  font-size: 2.0rem;
}
.form-control,
.form-select,
.modal-title,
.modal-body {
  font-size: 2.3rem;
}
  #LogoValor {
  width: 100%;
  height: auto;
}
.modal-content {
  padding: 30px;
}

.planilla {
font-size: 1.2rem;
  margin: auto;
  text-align: center;
}  
#title_menu {
font-size: 2rem;
  margin: auto;
  text-align: center;
}  
#magi-item {
font-size: 1.8rem;
  margin: auto;
  text-align: center;
}
  #videoElement {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    margin: 0px;
  }
  .image-container {
    display: flex;
    flex-wrap: wrap;
  }
  .image-container img {
    max-width: 200px;
    border-radius: 10px;
    margin: 5px;
  }
}

/* Estilos para version pc */
@media (min-width: 1081px) {
.container {
  display: inline-block !important;
  width: 50% !important;
  font-size: 1.1rem;
  border: 0px solid white;
  border-radius: 2%;
}
.titulos {
  font-size: 1.5rem;
  margin: auto;
  text-align: center;
  font-weight: bold;
  margin-bottom: 6px;
}
.planilla {
font-size: 1.0rem;
  margin: auto;
  text-align: center;
}  
.btn {
  font-size: 0.9rem;
}
.form-control {
  font-size: 1rem;
}
#LogoValor {
  width: 21px;
  height: 21px;
}
.modal-title {
  font-size: 1.53rem;
  margin: auto;
  text-align: center;
}
.modal-content {
  padding: 10px;
}
#take_pict_menu {
  display: none;
}  

#magi-item {
font-size: 1rem;
margin: auto;
text-align: center;
}
}

  .minicontainer {
  border: 0px solid white;
  background-color: #FFFFFF;
  border-radius: 2%;
  padding: 20px;
  width: 400px;
}

    /* Estilos para el fondo oscurecido */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

  #modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  #modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #modal4 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }

    /* Estilos para el contenedor de páginas */
    #page-container {
      margin-top: 20px;
    }

.whatsapp {
display: flex;
flex-direction: column;
width: 450px;
margin: 0 auto;
}

.whatsapp > .header {
border-top: 10px solid #054D44;
display: flex;
flex-direction: row;
background-color: #075E54;
justify-content: space-between;
color: white;
align-items: center;
padding: 5px; /* Add padding for a cleaner look */
box-sizing: border-box;
}

.header > * {
padding: 5px;
box-sizing: border-box;
}

.header .imagen > img {
border-radius: 50%;
width: 30px;
}

.header .info {
display: flex;
flex-direction: column;
color: white;
flex-grow: 2;
}

.header .info > .tlf > input {
background-color: #075E54;
border: none;
color: white;
padding: 5px; /* Add padding for input field */
box-sizing: border-box;
}

.header .info > .estado {
font-size: 0.8em;
}

.header > .icons > * {
margin-left: 5px;
margin-right: 5px;
}

.whatsapp .conver {
background-image: url(https://rasnerdev.github.io/whatsapp/img/wall.jpg);
display: flex;
flex-direction: column;
padding: 10px;
box-sizing: border-box;
min-height: 350px;
word-wrap: break-word; /* Allow long words to break to the next line */
}

/* .converMessageUser {
display: none;
} */

.conver > .converMessage,
.conver > .converMessageUser {
align-self: flex-end;
max-width: 70%; /* Limit the maximum width to prevent stretching */
padding: 8px;
color: #000;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
margin: 8px 0;
background: #e1ffc7;
border-radius: 5px 0px 5px 5px;
overflow: hidden;
text-overflow: ellipsis; /* Show ellipsis for long messages */
}

.whatsapp > .conver > .message {
display: flex;
flex-direction: row;
align-items: center;
}

.message > textarea {
padding: 5px 20px;
width: 100%;
margin-right: 10px;
border-radius: 15px;
background: white;
border: none;
font-size: 1em;
resize: none;
overflow-y: auto; /* Allow vertical scrolling when needed */
outline: none;
box-shadow: 1px 1px 1px silver;
word-wrap: break-word;
max-height: 80px; /* Set a maximum height to enable scrolling */
}

.message > .enviar {
background: #075E54;
width: 40px;
height: 40px;
color: white;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
}

footer {
background: #075E54;
padding: 10px;
box-sizing: border-box;
color: white;
margin-top: 30px;
width: 100%;
text-align: center;
}

footer > a {
color: #d2e1ff;
text-decoration: none;
}

footer > a:hover {
text-decoration: underline;
}